@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #595959;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.content {
    border-radius: 0.1em;
    padding: 1em;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#cy {
    width: 75vw;
    height: 60vh;
    display: block;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 0.3em;
}


.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 960px;
}

.button-row {
    margin: 5px;
}

.button-row-right {
    float: right;
}

.button-row-left {
    float: left;
}

/*
Primary header
*/

.primary-header {
    padding: 24px 0;
    text-align: center;
    border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
    color: #393939;
    font-size: 36px;
}

.primary-header__title small {
    font-size: 18px;
    color: #898989;
}

/* content */

.content__footer {
    position: absolute;
    bottom: 0;
    height: 0rem;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* footer */

.primary-footer {
    padding: 24px 0;
    color: #898989;
    font-size: 14px;
    text-align: center;
}

/* context menu */

.context-menu, .context-menu-edge, .context-menu-node {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active, .context-menu-edge--active, .context-menu-node--active {
    display: block;
}

.context-menu__items, .context-menu-edge__items, .context-menu-node__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item, .context-menu-edge__item, .context-menu-node__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child, .context-menu-edge__item:last-child, .context-menu-node__item:last-child {
    margin-bottom: 0;
}

.context-menu__link, .context-menu-edge__link, .context-menu-node__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover, .context-menu-edge__link:hover, .context-menu-node__link:hover {
    color: #fff;
    background-color: #0066aa;
}

/*
Dropdown Style
*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 15vh;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}