body {
    background: white;
}

.mainPage {
    background: white;
    color: white;
    border-radius: 0.1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#cy {
    width: 45vw;
    height: 45vh;
    display: block;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 0.3em;
}